body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 120px;
}
div{
    margin-bottom: 30px;
}
input{
    padding: 20px;
    margin-bottom: 20px;
}
.prover {
    padding: 10px 20px;
    margin-bottom: 30px;
}
.nas {
    padding: 10px 10px;
    align-items: center;
    display: none;
    justify-self: center;
}
ion-icon{
    height: 10px;
    width: 10px;
}